<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS App</title>
    <meta charset="UTF-8">
  </head>
  <body>

    <% if session[:message] %>
      <div class="flash">
        <p><%= session.delete(:message) %></p>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
