<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/cms.css">
  </head>
  <body>

    <% if session[:message] %>
      <div class="message">
        <p><%= session.delete(:message) %></p>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
